body {
  background-color: #3d575c;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 80%;
}

header {
  background-color: #163036;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 34px;
  height: auto;
  padding: auto;
}

section {
  float: right;
  width: 70%;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-align: justify;
  height: auto;
  padding: auto;
}

.leftcontainer{
  background-color: #163036; /* TODO: proper align the text and container to the side */
  padding-top: auto;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: auto;
  margin-left: 10px;
  top: auto;
  bottom: auto;
  height: 64%;
  left: auto;
  right: auto;
  position: absolute;
}

aside {
  float: left;
  width: 25%;
  text-align: center;
  text-align: justify;
  font-size: 18px;
  color: #ffffff;
  /* height: auto; */
  /* padding: auto; */
}

footer {
  background-color: #163036;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: auto; /* for auto adjusting height according to the screen size */
  padding: auto;
}

a:link {
  color: #32b7d1;
  text-decoration: none;
}

a:visited {
  color: #63b269;
}

a:hover {
  color: #d14162;
  text-decoration: underline;
}
