.flex-container {
  height: 600px;
  padding: 18px;
  background-color: lightblue;
  flex-direction: row;
  align-items: stretch;
  border: 2px solid red;
  display: flex;
  /* justify-content: center; */
  /* align-items:flex-end; */
  /* gap: 10px; */
}

.child-item {
  background-color: pink;
  border: 2px solid red;
  /* height: 200px; */
  /* width: 300px; */
  /* flex: 3 2 auto; */
}

/* Applying the rule on all child items
/* .flex-container > * { */
/*   width: 400px; */
/*   flex-grow: auto; */
/* } */

/* .flex-container > :nth-child(3) { */
/*   width: 200px; */
/* } */

/* selecting the 4th child with another type of child selector instead of the one above*/
/* .child-item:nth-child(4) { */
/*   width: 300px; */
/* } */
